.ui-main-menu {
    position: relative;

    &-item {
        float: left;
        margin-right: 80px;
        cursor: pointer;

        &:last-of-type {
            margin-right: 0;
        }

        &.active {
            // border-bottom: 2px solid #333;
        }
    }

    &-text {
        padding-bottom: 20px;
        font-size: 16px;
        user-select: none;
    }

    &-indicator {
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 2px;
        background: #333;
        width: 0;

        transition: width 200ms ease-in-out, left 200ms ease-in-out;
    }
}
